.example-chip-list {
  width: 100%;
}

.example-container {
  width: 1000px;
  height: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 400px;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
