<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Objectives / Create Objective</mat-card-title>
  </mat-card-header>



  <mat-card-content class="b-t-1" >
      <div class="row" >
      <div class="col-sm-6 col-lg-6">




          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Objective Title
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100" color="primary" >
            <input matInput id="objectifTitle" [(ngModel)]="objective.objectifTitle"/>
          </mat-form-field>





      </div>

      <div class="col-sm-6 col-lg-6">




        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Objective Type
        </mat-label
        >
        <mat-form-field appearance="outline" class="w-100" color="primary" >
          <input matInput  id="objectiveType" [(ngModel)]="objective.objectifType"/>
        </mat-form-field>



      </div>

    </div>




    <div class="container d-flex justify-content-sm-end">



      <div class="col-sm-6 col-lg-4">




        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Objective Start Date
        </mat-label
        >
        <mat-form-field appearance="outline" class="w-25" color="primary" >
          <input matInput [matDatepicker]="startPicker" placeholder="mm/ii/aaaa"
            [(ngModel)]="objective.objectifStart"
          >
          <mat-datepicker-toggle matSuffix [for]="startPicker">

          </mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>

        </mat-form-field>



      </div>



      <div class="col-sm-6 col-lg-4">




        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Objective End Date
        </mat-label
        >
        <mat-form-field appearance="outline" class="w-25" color="primary" >
          <input matInput [matDatepicker]="endPicker"
                 placeholder="mm/ii/aaaa" [(ngModel)]="objective.dateLimite"
          >
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>

        </mat-form-field>



      </div>



      <div class="col-sm-6 col-lg-4">




        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Assigned to
        </mat-label
        >











                <mat-form-field appearance="outline" class="w-25" color="primary" >
                  <mat-select [multiple]="true" placeholder="choose a person">

                    <mat-select>
                      <input matInput [(ngModel)]="searchText" placeholder="Search...">
                    </mat-select>

                    <mat-option *ngFor="let person of filteredPersons" [value]="person">
                      {{ person }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


        <!--
                    <mat-option value="wael">wael</mat-option>
                    <mat-option value="wassim">wassim</mat-option>
                    <mat-option value="wael">wael</mat-option>
                    <mat-option value="wassim">wassim</mat-option>
                  </mat-select>
                </mat-form-field>

        -->

      </div>







    </div>


    <!--

      <div class="row mb-3 d-flex justify-content-center ">

        <div class="form-selectgroup ">
          <label class="form-selectgroup-item">
            <input type="checkbox" name="name"  class="form-selectgroup-input" >
            <span class="form-selectgroup-label">Wael Dhahri</span>
          </label>
          <label class="form-selectgroup-item">
            <input type="checkbox" name="name"  class="form-selectgroup-input" >
            <span class="form-selectgroup-label">Wassim Dhahri</span>
          </label>
          <label class="form-selectgroup-item">
            <input type="checkbox" name="name" class="form-selectgroup-input">
            <span class="form-selectgroup-label">Wael Dhahri</span>
          </label>
          <label class="form-selectgroup-item">
            <input type="checkbox" name="name"  class="form-selectgroup-input">
            <span class="form-selectgroup-label">Wassim Dhahri</span>
          </label>
        </div>
      </div>
-->












    <div class="row ">

      <div class="col-12">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Objective Description
        </mat-label
        >
        <mat-form-field appearance="outline" class="w-100" color="primary" style="height: 200px;">
          <input matInput   [(ngModel)]="objective.description"/>
        </mat-form-field>

      </div>




    </div>



<div class="row d-flex justify-content-end">

  <button
    mat-flat-button
    color="primary"



    style="margin-right: 30px; width: 200px;background-color: Green; color: white;"
    class="btn-lg btn-danger"
  >
    Show All Objectives
  </button>

    <button
      mat-flat-button
      color="primary"


      class="btn-lg mr-3"

    (click)="onSubmit()"

      style="margin-right: 30px ; width: 150px; "

    >
      Confirm
    </button>

  <button
    mat-flat-button
    color="primary"



    style="margin-right: 50px; width: 150px;background-color: red; color: white;"
    class="btn-lg btn-danger"
  >
    Delete
  </button>

</div>

  </mat-card-content>


</mat-card>









