.border-line {
  border-top: 1px solid #000; /* 1px solid black top border */
}


:host {
  --duration: 2s;
}

.circle-container {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 200px;
}
