<!--<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <div class="container d-flex justify-content-between" >


<div style="margin-right: 20px;">
    <mat-card class="b-1 shadow-none">
      <mat-card-content>

        <img src="/assets/images/wael.jpg"

             class="rounded-circle object-cover"
             width="200" style="margin: 40px;" />

        <mat-card-title class="d-flex justify-content-center" style="margin-bottom: 10px;">Wael Dhahri</mat-card-title>
        <mat-card-subtitle class="d-flex justify-content-center ">


          <mat-icon class="d-flex align-items-center"
          ><i-tabler name="user" class="icon-18 d-flex" style="margin-bottom: 10px;"></i-tabler></mat-icon
          >


          Ingénieur Génie Logiciel , Tunisia


        </mat-card-subtitle>

        <div class="border-line" style="margin-top: 5px;" >
              <div style="margin-top: 10px;">
          <mat-card-subtitle class="d-flex justify-content-center ">


            <mat-icon class="d-flex align-items-center"
            ><i-tabler name="mail" class="icon-18 d-flex" style="margin-bottom: 10px;"></i-tabler></mat-icon
            >


            Waeldhahri@leoni.com



          </mat-card-subtitle>

            </div>





          <div style="margin-top: 10px;">
            <mat-card-subtitle class="d-flex justify-content-center ">


              <mat-icon class="d-flex align-items-center"
              ><i-tabler name="phone" class="icon-18 d-flex" style="margin-bottom: 10px;"></i-tabler></mat-icon
              >


              50648860



            </mat-card-subtitle>

          </div>







        </div>


        <mat-card-subtitle class="d-flex justify-content-center">


        </mat-card-subtitle>


      </mat-card-content>
    </mat-card>

</div>



      <div style="margin-right: 20px;">
        <mat-card class="b-1 shadow-none">
          <mat-card-content>

            <mat-card-title
                            style="margin-bottom: 10px;">
              Ingénieur Génie Logiciel
            </mat-card-title>

            <div class="border-line" style="margin-top: 5px;margin-bottom: 20px;" ></div>

            <mat-card-subtitle
              style="margin-bottom: 10px; ">
              Worked With
            </mat-card-subtitle  >
            <div class="row d-flex justify-content-between" style="margin-top: 20px;">
              <div>

            <img src="/assets/images/wael.jpg"

                 class="rounded-circle object-cover"
                 width="100" />

                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>

              </div>
              <div>

                <img src="/assets/images/wael.jpg"

                     class="rounded-circle object-cover"
                     width="100" />

                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>

              </div>
              <div>

                <img src="/assets/images/wael.jpg"

                     class="rounded-circle object-cover"
                     width="100" />

                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>

              </div>
              <div>

                <img src="/assets/images/wael.jpg"

                     class="rounded-circle object-cover"
                     width="100" />

                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>

              </div>
              <div>

                <img src="/assets/images/wael.jpg"

                     class="rounded-circle object-cover"
                     width="100" />

                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>

              </div>


            </div>

          </mat-card-content>
        </mat-card>

      </div>


      <div>
        <mat-card class="b-1 shadow p-3 mb-5 bg-white rounded">
          <mat-card-content>

            <img src="/assets/images/wael.jpg"

                 class="rounded-circle object-cover"
                 width="200" />


          </mat-card-content>
        </mat-card>

      </div>




    </div>


  </mat-card-content>
</mat-card>-->
<!-- profile.component.html -->
<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="container d-flex justify-content-between">
      <div style="margin-right: 20px;">
        <mat-card class="b-1 shadow-none">
          <mat-card-content>
            <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="200" style="margin: 40px;" />
            <mat-card-title class="d-flex justify-content-center" style="margin-bottom: 10px;">Wael Dhahri</mat-card-title>
            <mat-card-subtitle class="d-flex justify-content-center ">
              <mat-icon class="d-flex align-items-center">
                <i-tabler name="user" class="icon-18 d-flex" style="margin-bottom: 10px;"></i-tabler>
              </mat-icon>
              Ingénieur Génie Logiciel , Tunisia
            </mat-card-subtitle>
            <div class="border-line" style="margin-top: 5px;">
              <div style="margin-top: 10px;">
                <mat-card-subtitle class="d-flex justify-content-center ">
                  <mat-icon class="d-flex align-items-center">
                    <i-tabler name="mail" class="icon-18 d-flex" style="margin-bottom: 10px;"></i-tabler>
                  </mat-icon>
                  Waeldhahri@leoni.com
                </mat-card-subtitle>
              </div>
              <div style="margin-top: 10px;">
                <mat-card-subtitle class="d-flex justify-content-center ">
                  <mat-icon class="d-flex align-items-center">
                    <i-tabler name="phone" class="icon-18 d-flex" style="margin-bottom: 10px;"></i-tabler>
                  </mat-icon>
                  50648860
                </mat-card-subtitle>
              </div>
            </div>
            <mat-card-subtitle class="d-flex justify-content-center"></mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div style="margin-right: 20px;">
        <mat-card class="b-1 shadow-none">
          <mat-card-content>
            <mat-card-title style="margin-bottom: 10px;">Ingénieur Génie Logiciel</mat-card-title>
            <div class="border-line" style="margin-top: 5px; margin-bottom: 20px;"></div>
            <mat-card-subtitle style="margin-bottom: 10px;">Worked With</mat-card-subtitle>
            <div class="row d-flex justify-content-between" style="margin-top: 20px;">
              <div>
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div>
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div>
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div>
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div>
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="b-1 shadow p-3 mb-5 bg-white rounded">
          <mat-card-content>
            <mat-card-title style="margin-bottom: 10px;">Projects</mat-card-title>
            <div class="border-line" style="margin-top: 5px; margin-bottom: 20px;"></div>
            <div class="row d-flex justify-content-between" style="margin-top: 20px;">
              <div style="padding: 10px">
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div style="padding: 10px">
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div style="padding: 10px">
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div style="padding: 10px">
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
              <div style="padding: 10px">
                <img src="/assets/images/wael.jpg" class="rounded-circle object-cover" width="100" />
                <mat-card-subtitle class="d-flex justify-content-center">Wael Dhhari</mat-card-subtitle>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="b-1 shadow p-3 mb-5 bg-white rounded">
          <mat-card-title style="margin-bottom: 10px;">Total work done</mat-card-title>
          <div class="border-line" style="margin-top: 5px; margin-bottom: 20px;"></div>
          <mat-card-content>
            <div class="circle-container">
              <svg viewBox="0 0 36 36" class="circular-chart">
                <path class="circle-bg"
                      d="M18 2.0845
                     a 15.9155 15.9155 0 0 1 0 31.831
                     a 15.9155 15.9155 0 0 1 0 -31.831" />
                <path class="circle"
                      [attr.stroke-dasharray]="percentage + ', 100'"
                      d="M18 2.0845
                     a 15.9155 15.9155 0 0 1 0 31.831
                     a 15.9155 15.9155 0 0 1 0 -31.831" />
              </svg>
              <div class="circle-label">
                {{ label }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
