<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <button mat-icon-button aria-label="Notifications">
    <i-tabler class="d-flex" name="bell" matBadge="9" matBadgeColor="primary"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
<div style="width:60px; height: 60px;margin-right:20px;">
  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications" class="m-l-10"
  >
    <img
      src="/assets/images/wael.jpg"
      class="rounded-circle object-cover"
      width="200" style="width:40px; height: 40px;"
    />
  </button>
</div>
  <mat-menu #profilemenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <button mat-menu-item [routerLink]="['/ui-components/profile']">
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >
      My Profile

    </button>
    <button mat-menu-item [routerLink]="['/ui-components/Editprofile']">
      <mat-icon class="d-flex align-items-center"
      ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >
      Edit Profile

    </button>
    <button mat-menu-item [routerLink]="['/ui-components/Editpassword']">
      <mat-icon class="d-flex align-items-center"
      ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >
      Edit Password

    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Account
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler
          name="list-check"
          class="icon-18 d-flex"
        ></i-tabler></mat-icon
      >My Task
    </button>

    <div class="p-x-12 m-t-12">
      <button
       (click)="logout()"
        mat-flat-button
        color="primary"
        class="w-100"
        >Logout</button
      >
    </div>
  </mat-menu>
</mat-toolbar>
