

<!-- charts.component.html -->
<!--<div id="chart">-->
<!--  <apx-chart [series]="spark1.series" [chart]="spark1.chart" [stroke]="spark1.stroke" [markers]="spark1.markers"-->
<!--             [grid]="spark1.grid" [colors]="spark1.colors" [tooltip]="spark1.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="spark2.series" [chart]="spark2.chart" [stroke]="spark2.stroke" [markers]="spark2.markers"-->
<!--             [grid]="spark2.grid" [colors]="spark2.colors" [tooltip]="spark2.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="spark3.series" [chart]="spark3.chart" [stroke]="spark3.stroke" [markers]="spark3.markers"-->
<!--             [grid]="spark3.grid" [colors]="spark3.colors" [xaxis]="spark3.xaxis" [tooltip]="spark3.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="spark4.series" [chart]="spark4.chart" [stroke]="spark4.stroke" [markers]="spark4.markers"-->
<!--             [grid]="spark4.grid" [colors]="spark4.colors" [xaxis]="spark4.xaxis" [tooltip]="spark4.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="optionsCircle4.series" [chart]="optionsCircle4.chart" [plotOptions]="optionsCircle4.plotOptions"-->
<!--             [stroke]="optionsCircle4.stroke" [labels]="optionsCircle4.labels" [legend]="optionsCircle4.legend"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="optionsBar.series" [chart]="optionsBar.chart" [plotOptions]="optionsBar.plotOptions"-->
<!--             [xaxis]="optionsBar.xaxis" [fill]="optionsBar.fill"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="optionsArea.series" [chart]="optionsArea.chart" [stroke]="optionsArea.stroke"-->
<!--             [xaxis]="optionsArea.xaxis" [tooltip]="optionsArea.tooltip" [fill]="optionsArea.fill"></apx-chart>-->
<!--</div>-->




<mat-card class="cardWithShadow">
  <mat-card-content>
    <!--The content below is only a placeholder and can be replaced.-->
    <!--The content below is only a placeholder and can be replaced.-->
    <div id="chart">
      <apx-chart [series]="optionsLine.series" [chart]="optionsLine.chart" [stroke]="optionsLine.stroke"
                 [title]="optionsLine.title" [subtitle]="optionsLine.subtitle" [markers]="optionsLine.markers"
                 [grid]="optionsLine.grid" [xaxis]="optionsLine.xaxis" [legend]="optionsLine.legend"></apx-chart>
    </div>
  </mat-card-content>
</mat-card>




