<!-- charts.component.html -->

<!--<div id="chart">-->
<!--  <apx-chart [series]="spark1.series" [chart]="spark1.chart" [stroke]="spark1.stroke" [markers]="spark1.markers"-->
<!--             [grid]="spark1.grid" [colors]="spark1.colors" [tooltip]="spark1.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="spark2.series" [chart]="spark2.chart" [stroke]="spark2.stroke" [markers]="spark2.markers"-->
<!--             [grid]="spark2.grid" [colors]="spark2.colors" [tooltip]="spark2.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="spark3.series" [chart]="spark3.chart" [stroke]="spark3.stroke" [markers]="spark3.markers"-->
<!--             [grid]="spark3.grid" [colors]="spark3.colors" [xaxis]="spark3.xaxis" [tooltip]="spark3.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="spark4.series" [chart]="spark4.chart" [stroke]="spark4.stroke" [markers]="spark4.markers"-->
<!--             [grid]="spark4.grid" [colors]="spark4.colors" [xaxis]="spark4.xaxis" [tooltip]="spark4.tooltip"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="optionsCircle4.series" [chart]="optionsCircle4.chart" [plotOptions]="optionsCircle4.plotOptions"-->
<!--             [stroke]="optionsCircle4.stroke" [labels]="optionsCircle4.labels" [legend]="optionsCircle4.legend"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="optionsBar.series" [chart]="optionsBar.chart" [plotOptions]="optionsBar.plotOptions"-->
<!--             [xaxis]="optionsBar.xaxis" [fill]="optionsBar.fill"></apx-chart>-->
<!--</div>-->

<!--<div id="chart">-->
<!--  <apx-chart [series]="optionsArea.series" [chart]="optionsArea.chart" [stroke]="optionsArea.stroke"-->
<!--             [xaxis]="optionsArea.xaxis" [tooltip]="optionsArea.tooltip" [fill]="optionsArea.fill"></apx-chart>-->
<!--</div>-->




<mat-card class="cardWithShadow">
  <mat-card-content>
    <!--The content below is only a placeholder and can be replaced.-->
    <!--The content below is only a placeholder and can be replaced.-->
    <div id="chart">
      <apx-chart [series]="optionsLine.series" [chart]="optionsLine.chart" [stroke]="optionsLine.stroke"
                 [title]="optionsLine.title" [subtitle]="optionsLine.subtitle" [markers]="optionsLine.markers"
                 [grid]="optionsLine.grid" [xaxis]="optionsLine.xaxis" [legend]="optionsLine.legend"></apx-chart>
    </div>
  </mat-card-content>
</mat-card>


<div class="row">


  <div class="col-lg-6">
    <mat-card class=" cardWithShadow ">
      <mat-card-content >
        <mat-card-title>Developer Work Week</mat-card-title>
        <div id="chart">
          <apx-chart
            [series]="chartOptions4.series"
            [chart]="chartOptions4.chart"
            [dataLabels]="chartOptions4.dataLabels"
            [stroke]="chartOptions4.stroke"
            [colors]="chartOptions4.colors"
            [title]="chartOptions4.title"
            [subtitle]="chartOptions4.subtitle"
            [plotOptions]="chartOptions4.plotOptions"
            [yaxis]="chartOptions4.yaxis"
            [xaxis]="chartOptions4.xaxis"
            [tooltip]="chartOptions4.tooltip"
          ></apx-chart>
        </div>
      </mat-card-content>
      <div class="d-flex justify-content-center ">
        <button mat-flat-button color="primary"  class="btn-lg mr-3" (click)="showPopupWithScrollView4()"
                style="margin-bottom: 10px;width: 150px;border-radius: 10px;" >
          Details
        </button>
      </div>
    </mat-card>

  </div>
  <div class="col-lg-6">
    <mat-card class=" cardWithShadow ">
      <mat-card-content >
        <mat-card-title>Average Team Tasks Completed Per Week</mat-card-title>
        <!--The content below is only a placeholder and can be replaced.-->
        <div id="chart">
          <apx-chart
            [series]="chartOptions5.series"
            [chart]="chartOptions5.chart"
            [fill]="chartOptions5.fill"
            [legend]="chartOptions5.legend"
            [plotOptions]="chartOptions5.plotOptions"
            [xaxis]="chartOptions5.xaxis"
          ></apx-chart>
        </div>
      </mat-card-content>
      <div class="d-flex justify-content-center ">
        <button mat-flat-button color="primary"  class="btn-lg mr-3" (click)="showPopupWithScrollView5()"
                style="margin-bottom: 10px;width: 150px;border-radius: 10px;" >
          Details
        </button>
      </div>
    </mat-card>

  </div>
</div>

<!--<mat-card class="cardWithShadow">
  <mat-card-content>
    &lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;
    &lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;
    <div id="chart3">
      <apx-chart
        [series]="chartOptions3.series"
        [chart]="chartOptions3.chart"
        [xaxis]="chartOptions3.xaxis"
        [dataLabels]="chartOptions3.dataLabels"
        [yaxis]="chartOptions3.yaxis"
        [legend]="chartOptions3.legend"
        [fill]="chartOptions3.fill"
        [markers]="chartOptions3.markers"
        [title]="chartOptions3.title"
        [tooltip]="chartOptions3.tooltip"
      ></apx-chart>
    </div>
  </mat-card-content>
</mat-card>-->
<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible4"
  title="Developer Work Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Description</div>
      The KPI "Developer Work Week" measures the average number of hours worked by developers within an IT or engineering team over a specific period, typically one week. This KPI
      helps to assess the workload, work-life balance, and potential risk of burnout among team members.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

        <div><B>Developer Work Week
          =</B></div>
        <br /><br />

        <div class="d-flex justify-content-center"><B>TotalNumbersOfHoursWorked</B></div>
        <div class="d-flex justify-content-center"> ---------------------------------------------</div>
        <div class="d-flex justify-content-center"><B> Number of Developers</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions4"
  >
  </dxi-toolbar-item>
</dx-popup>

<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible5"
  title="Average Team Tasks Completed Per Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Description</div>
      The KPI "Average Team Tasks Completed Per Week" measures the average number of tasks completed by an IT or engineering team each week.
      This KPI helps to assess the productivity and efficiency of the team on a weekly basis.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

        <div><B>Average Team Tasks Completed Per Week


          =</B></div>
        <br /><br />

        <div class="d-flex justify-content-center"><B>TotalNumbersOfTasksCompleted</B></div>
        <div class="d-flex justify-content-center"> ---------------------------------------------</div>
        <div class="d-flex justify-content-center"><B> Number of Weeks</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions5"
  >
  </dxi-toolbar-item>
</dx-popup>
