<mat-card class="cardWithShadow theme-card" >
  <mat-card-header>
    <mat-card-title class="m-b-0">Update Password
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1"  >
    <div class="row"  >
      <div class="col-sm-6 col-lg-6">




        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Password
        </mat-label
        >
        <mat-form-field appearance="outline" class="w-100" color="primary" >
          <input matInput id="objectifTitle" type="password" />
        </mat-form-field>





      </div>


    </div>












<br>





    <div class="example-sidenav-content row d-flex justify-content-end" >

      <button
        mat-flat-button
        color="primary"



        style="margin-right: 30px; width: 200px;background-color: Green; color: white;"
        class="btn-lg btn-danger"
      >
        Update Password
      </button>





    </div>




  </mat-card-content>









</mat-card>




