

#chart {

  max-width: 900px;

}

.apexcharts-legend text {
  font-weight: 900;
}
#chart2 {
  max-width: 750px;


}
#chart3 {
  max-width: 1000px;

}
#chart4 {
  max-width: 1000px;

}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}
