<div class="row">


  <div class="col-lg-6">
    <mat-card class=" cardWithShadow ">
      <mat-card-content >
        <mat-card-title>Average Team Tasks Completed Per Week</mat-card-title>
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [plotOptions]="chartOptions.plotOptions"
            [labels]="chartOptions.labels"
            [legend]="chartOptions.legend"
            [colors]="chartOptions.colors"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
      </mat-card-content>
      <div class="d-flex justify-content-center ">
      <button mat-flat-button color="primary"  class="btn-lg mr-3" (click)="showPopupWithScrollView()"
              style="margin-bottom: 10px;width: 150px;border-radius: 10px;" >
        Details
      </button>
    </div>
    </mat-card>

  </div>

  <div class="col-lg-6">
    <!-- organizational-chart.component.html -->
    <mat-card class="cardWithShadow ">

      <mat-card-content style="height: 410px; ">
        <!--The content below is only a placeholder and can be replaced.-->
        <!--The content below is only a placeholder and can be replaced.-->
        <mat-card-title>Average Team Work Week </mat-card-title>
        <div id="chart2" style="margin-top: 10px;" >
          <apx-chart
            [series]="chartOptions2.series"
            [chart]="chartOptions2.chart"
            [labels]="chartOptions2.labels"
            [fill]="chartOptions2.fill"
            [stroke]="chartOptions2.stroke"
            [responsive]="chartOptions2.responsive"
          ></apx-chart>
        </div>
      </mat-card-content>
      <div class="d-flex justify-content-center ">
        <button mat-flat-button color="primary"  class="btn-lg mr-3" (click)="showPopupWithScrollView2()"
                style="margin-bottom: 10px;width: 150px;border-radius: 10px;" >
          Details
        </button>
      </div>
    </mat-card>

  </div>


  <div class="col-lg-6">
    <mat-card class="cardWithShadow ">
      <mat-card-content>
        <!--The content below is only a placeholder and can be replaced.-->
        <!--The content below is only a placeholder and can be replaced.-->
        <div id="chart3">
          <apx-chart
            [series]="chartOptions3.series"
            [chart]="chartOptions3.chart"
            [dataLabels]="chartOptions3.dataLabels"
            [plotOptions]="chartOptions3.plotOptions"
            [xaxis]="chartOptions3.xaxis"
            [colors]="chartOptions3.colors"
            [fill]="chartOptions3.fill"
            [yaxis]="chartOptions3.yaxis"
            [legend]="chartOptions3.legend"
            [grid]="chartOptions3.grid"
          ></apx-chart>
        </div>
      </mat-card-content>
      <div class="d-flex justify-content-center ">
        <button mat-flat-button color="primary"  class="btn-lg mr-3" (click)="showPopupWithScrollView()"
                style="margin-bottom: 10px;width: 150px;border-radius: 10px;" >
          Details
        </button>
      </div>
    </mat-card>

  </div>
  <div class="col-lg-6">
    <mat-card class="cardWithShadow ">
      <mat-card-content>
        <!--The content below is only a placeholder and can be replaced.-->
        <!--The content below is only a placeholder and can be replaced.-->
        <div id="chart4">
          <apx-chart
            [series]="chartOptions4.series"
            [chart]="chartOptions4.chart"
            [dataLabels]="chartOptions4.dataLabels"
            [plotOptions]="chartOptions4.plotOptions"
            [yaxis]="chartOptions4.yaxis"
            [xaxis]="chartOptions4.xaxis"
            [stroke]="chartOptions4.stroke"
            [grid]="chartOptions4.grid"
            [fill]="chartOptions4.fill"
            [annotations]="chartOptions4.annotations"
          ></apx-chart>
        </div>
      </mat-card-content>
      <div class="d-flex justify-content-center ">
        <button mat-flat-button color="primary"  class="btn-lg mr-3" (click)="showPopupWithScrollView()"
                style="margin-bottom: 10px;width: 150px;border-radius: 10px;" >
          Details
        </button>
      </div>
    </mat-card>
  </div>

  <div class="col-lg-6">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <!--The content below is only a placeholder and can be replaced.-->
        <!--The content below is only a placeholder and can be replaced.-->
        <div id="chart5">
          <apx-chart
            [series]="chartOptions5.series"
            [chart]="chartOptions5.chart"
            [dataLabels]="chartOptions5.dataLabels"
            [plotOptions]="chartOptions5.plotOptions"
          ></apx-chart>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="col-lg-6">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <!--The content below is only a placeholder and can be replaced.-->
        <!--The content below is only a placeholder and can be replaced.-->
        <div id="chart5">
          <apx-chart
            [series]="chartOptions7.series"
            [chart]="chartOptions7.chart"
            [dataLabels]="chartOptions7.dataLabels"
            [plotOptions]="chartOptions7.plotOptions"
            [yaxis]="chartOptions7.yaxis"
            [legend]="chartOptions7.legend"
            [fill]="chartOptions7.fill"
            [stroke]="chartOptions7.stroke"
            [tooltip]="chartOptions7.tooltip"
            [xaxis]="chartOptions7.xaxis"
          ></apx-chart>
        </div>
      </mat-card-content>
      <div class="d-flex justify-content-center ">
        <button mat-flat-button color="primary"  class="btn-lg mr-3" (click)="showPopupWithScrollView()"
                style="margin-bottom: 10px;width: 150px;border-radius: 10px;" >
          Details
        </button>
      </div>
    </mat-card>

  </div>

</div>




<mat-card class="cardWithShadow">
  <mat-card-content>
    <!--The content below is only a placeholder and can be replaced.-->
    <!--The content below is only a placeholder and can be replaced.-->
    <div id="chart6">
      <apx-chart
        [series]="chartOptions6.series"
        [chart]="chartOptions6.chart"
        [xaxis]="chartOptions6.xaxis"
        [dataLabels]="chartOptions6.dataLabels"
        [grid]="chartOptions6.grid"
        [stroke]="chartOptions6.stroke"
        [title]="chartOptions6.title"
        [markers]="chartOptions6.markers"
        [yaxis]="chartOptions6.yaxis"
        [fill]="chartOptions6.fill"
      ></apx-chart>
    </div>
  </mat-card-content>
</mat-card>



<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible"
  title="Average Team Tasks Completed Per Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Description</div>
      The KPI "Average Team Tasks Completed Per Week" measures the average number of tasks completed by an IT team or engineering team each week. This KPI helps to assess
      the productivity and efficiency of the team on a weekly basis.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

       <div><B>AverageTeamTasksCompletedPerWeek
        =</B></div>
        <br /><br />

      <div class="d-flex justify-content-center"><B>TotalNumberofTasksCompleted</B></div>
      <div class="d-flex justify-content-center"> ---------------------------------------------</div>
      <div class="d-flex justify-content-center"><B> NumberofWeeks</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions"
  >
  </dxi-toolbar-item>
</dx-popup>

<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible2"
  title="Average Team Tasks Completed Per Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Wael</div>
      The KPI "Average Team Tasks Completed Per Week" measures the average number of tasks completed by an IT team or engineering team each week. This KPI helps to assess
      the productivity and efficiency of the team on a weekly basis.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

        <div><B>AverageTeamTasksCompletedPerWeek
          =</B></div>
        <br /><br />

        <div class="d-flex justify-content-center"><B>TotalNumberofTasksCompleted</B></div>
        <div class="d-flex justify-content-center"> ---------------------------------------------</div>
        <div class="d-flex justify-content-center"><B> NumberofWeeks</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions2"
  >
  </dxi-toolbar-item>
</dx-popup>



<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible2"
  title="Average Team Tasks Completed Per Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Wael</div>
      The KPI "Average Team Tasks Completed Per Week" measures the average number of tasks completed by an IT team or engineering team each week. This KPI helps to assess
      the productivity and efficiency of the team on a weekly basis.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

        <div><B>AverageTeamTasksCompletedPerWeek
          =</B></div>
        <br /><br />

        <div class="d-flex justify-content-center"><B>TotalNumberofTasksCompleted</B></div>
        <div class="d-flex justify-content-center"> ---------------------------------------------</div>
        <div class="d-flex justify-content-center"><B> NumberofWeeks</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions2"
  >
  </dxi-toolbar-item>
</dx-popup>
<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible2"
  title="Average Team Tasks Completed Per Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Wael</div>
      The KPI "Average Team Tasks Completed Per Week" measures the average number of tasks completed by an IT team or engineering team each week. This KPI helps to assess
      the productivity and efficiency of the team on a weekly basis.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

        <div><B>AverageTeamTasksCompletedPerWeek
          =</B></div>
        <br /><br />

        <div class="d-flex justify-content-center"><B>TotalNumberofTasksCompleted</B></div>
        <div class="d-flex justify-content-center"> ---------------------------------------------</div>
        <div class="d-flex justify-content-center"><B> NumberofWeeks</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions2"
  >
  </dxi-toolbar-item>
</dx-popup>
<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible2"
  title="Average Team Tasks Completed Per Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Wael</div>
      The KPI "Average Team Tasks Completed Per Week" measures the average number of tasks completed by an IT team or engineering team each week. This KPI helps to assess
      the productivity and efficiency of the team on a weekly basis.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

        <div><B>AverageTeamTasksCompletedPerWeek
          =</B></div>
        <br /><br />

        <div class="d-flex justify-content-center"><B>TotalNumberofTasksCompleted</B></div>
        <div class="d-flex justify-content-center"> ---------------------------------------------</div>
        <div class="d-flex justify-content-center"><B> NumberofWeeks</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions2"
  >
  </dxi-toolbar-item>
</dx-popup>
<dx-popup
  [width]="500"
  [height]="450"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupWithScrollViewVisible2"
  title="Average Team Tasks Completed Per Week"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Wael</div>
      The KPI "Average Team Tasks Completed Per Week" measures the average number of tasks completed by an IT team or engineering team each week. This KPI helps to assess
      the productivity and efficiency of the team on a weekly basis.
      <br /><br />
      <div class="content">
        Calculation Methodology
        To calculate this KPI, use the following formulaire:

        <div><B>AverageTeamTasksCompletedPerWeek
          =</B></div>
        <br /><br />

        <div class="d-flex justify-content-center"><B>TotalNumberofTasksCompleted</B></div>
        <div class="d-flex justify-content-center"> ---------------------------------------------</div>
        <div class="d-flex justify-content-center"><B> NumberofWeeks</B></div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions2"
  >
  </dxi-toolbar-item>
</dx-popup>














